<style>
  #insta-feed{
    width:{{section.settings.feed_width}}%;
  }
  #insta-feed h2{
    font-size:{{section.settings.heading_size}}px;
    font-family: {{section.settings.heading_font.family }};
  }
  
  #insta-feed h2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom:50px;
  }
  
  #insta-feed h2::before,
  #insta-feed h2::after {
    content: "";
    height: 1px;
    flex-grow: .2;
    background-color: #666;
  }
  
  #insta-feed h2::before {
    margin-right: 20px;
  }
  #insta-feed h2::after {
    margin-left: 20px;
  }
  
  {{ section.settings.heading_font | font_face }}
</style>

{{section.settings.html_area}}{% unless section.settings.html_area contains "feed-" %}
<div class="page-width">
  <div id="insta-feed"></div>
</div>
{% endunless  %}

{%schema%}
{
	"name":"Instafeed App",
	"settings":[
		{
			"type":"font_picker",
			"label":"Heading font.",
			"id":"heading_font",
			"default": "helvetica_n4"
		},
		{
			"type":"range",
			"id":"heading_size",
			"min":10,
			"max":30,
			"step":1,
			"unit":"px",
			"label":"Heading Size",
			"default":20
		},
		{
			"type":"range",
			"id":"feed_width",
			"min":50,
			"max":100,
			"step":5,
			"unit":"%",
			"label":"Feed Width",
			"default":100
		},
		{
			"type":"textarea",
			"id":"html_area",
			"label":"Custom Code (optional)"
		}
	],
	"presets":
	[
		{
			"name":"Instafeed App",
			"category":"Instagram Feed"
		}
	]
}

{%endschema%}