{% assign section_title = section.settings.title %}
{% assign main_image = section.settings.main_image %}
{% assign hotspot_color = section.settings.hotspot_color %}
{% assign image_position = section.settings.image_position %}
{% assign description_title = section.settings.description_title%}
{% assign description = section.settings.description %}
{% assign button_link = section.settings.button_link %}
{% assign button_text = section.settings.button_text %}

<div class="page-width is-sm">
  <header class="text-center" data-scroll="fade-in-up">
    <h2 class="sc-section-title">{{ section_title }}</h2>
  </header>
  <div class="sc-sc-main">
    <!-- left section -->
    <div class="sc-sc-main__image__container" data-scroll="fade-in-up">
      <!-- main image -->
      <div class="sc-sc__image__container">
        {% for block in section.blocks %}
        {% assign position_from_top = block.settings.position_from_top %}
        {% assign position_from_left = block.settings.position_from_left%}
        <div class="sc-sc-dot__container" style="top: {{ position_from_top | append: "%"}}; left: {{ position_from_left | append: "%"}}">
          <button class="sc-sc__dot" style="background-color: {{ hotspot_color }}"></button>
        </div>
        {% endfor %}
        <img class="sc-sc__image"src="{{ main_image | img_url: 'master'}}">
      </div>
      <!-- image description -->
      <div class="sc-sc-description__container" data-scroll="fade-in-up">
        <h2 class="sc-sc-description__title">{{ description_title }}</h2> 
        {{ description | newline_to_br}}
        <a href="{{ button_link }}" class="btn">{{ button_text }}</a>
      </div>
    </div>
    <!-- right section -->
    <div class="sc-sc-outer__products__container">
      <div class="sc-sc-product__container">
        {% for block in section.blocks %}
        {% assign product = block.settings.product%}
        {% assign product_image = product.featured_image %}
        {% assign product_url = product.url %}
        {% assign product_title = product.title %}
        {% assign product_vendor = product.vendor %}
        {% assign product_price = product.price %}
        <div class="sc-sc-products" data-scroll="fade-in-up">
          <article class="indiv-product">
            <div href="" class="grid__image">
              <a href="{{ product_url }}"><img class="sc-sc-indiv__image"src="{{ product_image | img_url: 'master'}}"></a>
            </div>
            <div class="hp-title">
              <a href="" class="indiv-product__link">
                <h4 class="indiv-product-title-text">{{ product_title }}</h4>
                <span class="indiv-product-vendor"> {{ product_vendor }}</span>
                <span class="indiv-product-money"> {{ product_price | money }}</span>
              </a>
            </div>
          </article>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="sc-sc-description__container--mobile" data-scroll="fade-in-up">
      <h2 class="sc-sc-description__title">{{ description_title }}</h2> 
      {{ description | newline_to_br}}
      <div class="sc-sc-button text-center">
        <a href="{{ button_link }}" class="btn">{{ button_text }}</a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Staff Choice",
  "settings":
  [
  {
    "type": "text",
    "id": "title",
    "label": "Heading",
    "default": "Staff Choice"
  },
  {
    "type": "image_picker",
    "id": "main_image",
    "label": "Main Image"
  },
  {
    "type": "select",
    "id": "image_position",
    "label": "Image Position",
    "options": [
    {
      "value": "left",
      "label": "Left"
    },
    {
      "value": "right",
      "label": "Right"
    }
    ]
  },
  {
    "type": "color",
    "id": "hotspot_color",
    "label": "Hotspot Color",
    "default": "#FFFFFF"
  },
  {
    "type": "text",
    "id": "description_title",
    "label": "Description Title"
  },
  {
    "type": "richtext",
    "id": "description",
    "label": "Description"
  },
  {
    "type": "url",
    "id": "button_link",
    "label": "Button Link"
  },
  {
    "type": "text",
    "id": "button_text",
    "label": "Button Text"
  }
  ],
  "blocks": [
  {
    "name": "product",
    "type": "text",
    "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "range",
      "id": "position_from_top",
      "label": "Position from Top",
      "min": 0,
      "max": 95,
      "step": 1,
      "unit": "%",
      "default": 0
    },
    {
      "type": "range",
      "id": "position_from_left",
      "label": "Position from Left",
      "min": 0,
      "max": 95,
      "step": 1,
      "unit": "%",
      "default": 0
    }
    ]
  }
  ],
  "max_blocks": 4,
  "presets": [
    {
      "name": "Staff Choice"
    }
  ]

}
{% endschema %}