{% assign section_title = section.settings.title %}
{% assign main_image = section.settings.main_image %}
{% assign image_position = section.settings.image_position %}
{% assign description_title = section.settings.description_title%}
{% assign description = section.settings.description %}
{% assign button_link = section.settings.button_link %}
{% assign button_text = section.settings.button_text %}

<div class="page-width is-sm">
  <header class="text-center">
    <h2 class="sc-section-title">{{ section_title }}</h2>
  </header>
  <div class="sc-sc-main">
    <div class="sc-sc-image__container">
      <!-- main image -->
      <div class="sc-sc__image">
        <img class="sc-sc__image"src="{{ main_image | img_url: 'master'}}" alt="" height="640" height="640" sizes="(min-width: 2000px) 1000px, (min-width: 1445px) calc(100vw / 2), (min-width: 1200px) calc(100vw / 1.75), (min-width: 750px) calc(100vw / 1.25), 100vw">
      </div>
      <!-- image description -->
      <div class="sc-sc-description__container">
        <h2 class="sc-sc-description__title">{{ description_title }}</h2>
        <p>
          {{ description | newline_to_br}}
        </p>
        <a href="{{ button_link }}" class="btn">{{ button_text }}</a>
      </div>
    </div>
    <div class="sc-sc-outer__products__container"></div>
  </div>
</div>
{% schema %}
{
  "name": "Staff Choice",
  "settings":
  [
  {
    "type": "text",
    "id": "title",
    "label": "Heading",
    "default": "Staff Choice"
  },
  {
    "type": "image_picker",
    "id": "main_image",
    "label": "Main Image"
  },
  {
    "type": "select",
    "id": "image_position",
    "label": "Image Position",
    "options": [
    {
      "value": "left",
      "label": "Left"
    },
    {
      "value": "right",
      "label": "Right"
    }
    ]
  },
  {
    "type": "color",
    "id": "hotspot_color",
    "label": "Hotspot Color",
    "default": "#FFFFFF"
  },
  {
    "type": "text",
    "id": "description_title",
    "label": "Description Title"
  },
  {
    "type": "richtext",
    "id": "description",
    "label": "Description"
  },
  {
    "type": "url",
    "id": "button_link",
    "label": "Button Link"
  },
  {
    "type": "text",
    "id": "button_text",
    "label": "Button Text"
  }
  ],
  "blocks": [
  {
    "name": "product",
    "type": "text",
    "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "range",
      "id": "position_from_top",
      "label": "Position from Top",
      "min": 0,
      "max": 95,
      "step": 1,
      "unit": "%",
      "default": 0
    },
    {
      "type": "range",
      "id": "position_from_left",
      "label": "Position from Left",
      "min": 0,
      "max": 95,
      "step": 1,
      "unit": "%",
      "default": 0
    }
    ]
  }
  ],
  "max_blocks": 4,
  "presets": [
    {
      "name": "Staff Choice"
    }
  ]

}
{% endschema %}